{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<style>
   /* Style the link button */
.text-error {
    color:red
}
</style>

<div class="text-center">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    </div>
        {% else %}

        <div class="form-modal "> 
        <div class="form-toggle">
            <button id="login-toggle" onclick="toggleLogin()">{% trans 'change password' %}</button>
        </div>
        <div id="login-form">
             <form method="POST" action="{{ action_url }}">
              {% csrf_token %}
              {% for field in form %}
              {{ field }}
              {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
                {% endfor %}
                  {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="text-error">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="text-error">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
                <hr/> 
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}
