{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<style>
   /* Style the link button */
.text-error {
    color:red
}
</style>

<div class="form-modal"> 
    <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()">{% trans "Set Password" %}</button>
    </div>
    <div id="login-form">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
           {% csrf_token %}
           {% for field in form %}
          {{ field }}
          
          {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
            {% endfor %}
              {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="text-error">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="text-error">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
           <input type="submit" name="action" value="{% trans 'Set Password' %}"/>            <hr/> 
        </form>
    </div>
</div>
{% endblock %}
